<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">残業申請</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <p>モーダルで表が表示される部分。</p>
    </div>
    <div calss="modal-footer"></div>
    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
  </div>
</div>